<% layout("/layouts/boilerplate") %>

<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Terms of Service for Wanderlust</h3>
            <p>Welcome to Wanderlust! These terms and conditions outline the rules and regulations for the use of
                Wanderlust's Website, located at wanderlust.com.</p>
            <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use
                Wanderlust if you do not agree to take all of the terms and conditions stated on this page.</p>
            <h4>Cookies</h4>
            <p>We employ the use of cookies. By accessing Wanderlust, you agreed to use cookies in agreement with the
                Wanderlust's Privacy Policy. Most interactive websites use cookies to let us retrieve the user's details
                for each visit. Cookies are used by our website to enable the functionality of certain areas to make it
                easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.
            </p>
            <h4>License</h4>
            <p>Unless otherwise stated, Wanderlust and/or its licensors own the intellectual property rights for all
                material on Wanderlust. All intellectual property rights are reserved. You may access this from
                Wanderlust for your own personal use subjected to restrictions set in these terms and conditions.</p>
        </div>
    </div>
</body>
